.whiteFont {
  color: white;
}

.black {
  background-color: black;
}

.titleFont {
  font-size: 100%;
}

img {
  object-fit: contain;
  height: 310px;
  width: 100px
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.cardMargin {
  margin: 3%;
}

.boxShadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.boxShadowCart {
  box-shadow: 0 4px 8px 0 rgba(0,255,0,0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fontSizeTest {
  font-size: 70%;
}
